@page "/credito-add-abono/{CreditoId}"
@using CreditosWeb.Services
@inject CreditoService CreditoService
@inject NavigationManager NavigationManager

<h1> Registrar Abono Crédito @CreditoId </h1>
<input placeholder="digite el valor" @bind="valor" type="number" />
<button @onclick="AddAbono">Agregar Abono</button>


@code {
   [Parameter]
   public string CreditoId { get; set; }

   private decimal valor;
   private string resultado;
   
   private async Task AddAbono()
   {
        await CreditoService.InsertAbonoAsync(Convert.ToInt32(CreditoId),DateTime.Now, valor);
        NavigationManager.NavigateTo("Creditos");
   }

}
